/* colors palette */
$black: #111;
$white: #fff;
$dark: #222427;
$gray-1: #555;
$gray-2: #777;
$gray-3: #999;
$blue-1: #002053;
$blue-2: #1951c1;
$red-1: #e1002b;
$primary-1: $blue-1;
$secondary-1: $red-1;